$orange: #ff8300;
$grey: #b3b3b3;
$green: #5cb85c;
$red: #ff7c7c;
$light-red: #ffaeab;
$dark-red: #c84b50;
$blue: #8af7ff;
$light-blue: #bfffff;
$dark-blue: #53c4cc;

$background-image1: url('../../assets/background/background1.jpg');
$background-image2: url('../../assets/products/bag.jpg');
