@import "../styles/variables";

.header-form-container mat-toolbar{
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
}

.logo {
  width: 30px;
  // height: 50px;
  margin: 5px;
}

.logo-text {
  width: 100px;
  align-self: flex-start;
  margin-left: 5px;
}

.text-container {
  align-self: flex-start;
}

.mainbar {
  background-color: $blue;
}

.subbar {
  background-color: $light-blue;
}

.menu{
  background-color: $red;
}

.mat-toolbar-row {
  padding: 0;
}

.flex-right {
  align-self: flex-end;
}

//////////SEARCH DESIGN////////////
.search-field {
  width: 50%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search-field input {
  width: 100%;
  padding: 0;
}


::-webkit-input-placeholder { /* Chrome */
  color: lightgrey;
  font-weight: bold;
}
:-ms-input-placeholder { /* IE 10+ */
  color: lightgrey;
  font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
  color: lightgrey;
  opacity: 1;
  font-weight: bold;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: lightgrey;
  opacity: 1;
  font-weight: bold;
}


.search-field input#search, .search-field input#searchMobile{

  // width: 300px;
  height: 30px;
  background: #1176FF;
  border: none;
  font-size: 10pt;
  font-weight: bold;
  float: left;
  color: darkgrey;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.search-field .icon{
  position: absolute;
  // top: 50%;
  margin-left: 17px;
  margin-top: 5px;
  z-index: 1;
  color: lightgrey;
}

.search-field input#search:hover, .search-field input#search:focus, .search-field input#search:active,
.search-field input#searchMobile:hover, .search-field input#searchMobile:focus, .search-field input#searchMobile:active{
  outline:none;
  background: #ffffff;
  .icon {
    color: gray;
  }

}

.mobile-search {
  width: 100%;
}


////////////////////



h1 {
  font-size: 24px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.orange600 { color: #FB8C00; }

.mat-icon-button {
  height: 100%;
  line-height: 45px;
}

#cssmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: dodgerblue;
  width: auto;
}

#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: white;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: white;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: white;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
