<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<div id='cssmenu'>
  <div>
    <!-- <img src='../../assets/logo/crafthof5.PNG' class="logo"> -->
    <div (click)="goTo(5)">
      <img src='../../assets/logo/crafthof_text1.PNG' class="logo-text">
    </div>
  </div>

  <div class="search-field hidden-xs" [ngClass]="{'search-field-hide': !isHome}">
    <span class="icon"><i class="fa fa-search"></i></span>
    <input type="text" id="search" placeholder="Search to type" (input)="searchSubject$.next($event.target.value)">
  </div>

  <div style="display: flex">
    <div class="hidden-xs" style="justify-self: flex-end">
      <ul>
        <li [ngClass]="{'active': pageActive === 4}" (click)="goTo(4)"><a><span>Profile</span></a></li>
        <li [ngClass]="{'active': pageActive === 3}" (click)="goTo(3)"><a><span>Radar</span></a></li>
      </ul>
    </div>

    <div class="toolbar-row-icon menu flex-right">
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="goTo(1)" *ngIf="!(isLoggedIn | async)">Register</button>
        <button mat-menu-item (click)="goTo(2)" *ngIf="!(isLoggedIn | async)">Login</button>
        <button mat-menu-item (click)="logout()" *ngIf="(isLoggedIn | async)">Logout</button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
  </div>
  <div [hidden]="!isSearch" class="search-field mobile-search hidden-md hidden-lg hidden-sm">
    <span  style="margin-top: 12px" class="icon"><i class="fa fa-search"></i></span>
    <input style="border-radius: 0; height: 45px" type="text" id="searchMobile" placeholder="Search to type" (input)="searchSubject$.next($event.target.value)">
  </div>

  <!-- <div class="header-form-container">

    <mat-toolbar>

      <mat-toolbar-row class="mainbar">
        <!--<span class="example-spacer"></span>


        <div class="toolbar-row-icon flex-right" (click)="radarButtonClicked()">
          <mat-icon class="toolbar-row-icon material-icons">my_location</mat-icon>
        </div>
        <div class="toolbar-row-icon menu flex-right">
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="goTo(1)" *ngIf="!(isLoggedIn | async)">Register</button>
            <button mat-menu-item (click)="goTo(2)" *ngIf="!(isLoggedIn | async)">Login</button>
            <button mat-menu-item (click)="logout()" *ngIf="(isLoggedIn | async)">Logout</button>
          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <!--<mat-icon class="material-icons">menu</mat-icon>
        </div>

      </mat-toolbar-row>

      <!-- <mat-toolbar-row [ngClass]="{'search-field-hide': !isHome}" class="subbar">
          <!--<span class="example-spacer"></span>
          <div class="col-xs-12 search-field">
            <input type="text" id="search" placeholder="Search to type">
          </div>
      </mat-toolbar-row>

    </mat-toolbar>

  </div>-->


