<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


<div class="footer-form-container">

  <mat-toolbar>

    <mat-toolbar-row>
      <!--<span class="example-spacer"></span>-->
      <div class="col-xs-4 toolbar-row-icon" (click)="toolBarClicked(0)">
        <mat-icon class="material-icons col-xs-3">home</mat-icon>
      </div>
      <div class="col-xs-4 toolbar-row-icon" (click)="toolBarClicked(1)">
      <mat-icon class="material-icons col-xs-3">search</mat-icon>
      </div>
      <div class="col-xs-4 toolbar-row-icon" (click)="toolBarClicked(2)">
      <mat-icon class="material-icons col-xs-3">my_location</mat-icon>
        </div >
        <div class="toolbar-row-icon col-xs-4" (click)="toolBarClicked(3)">
      <mat-icon class="material-icons col-xs-3">account_circle</mat-icon>
          </div>

      <!--<mat-icon class="material-icons col-xs-3 md-dark ">textsms</mat-icon>
      <mat-icon class="material-icons col-xs-3 md-dark md-inactive">account_circle</mat-icon>
      <i class="material-icons md-light">face</i>
      <i class="material-icons md-light md-inactive">face</i>
      <i class="material-icons orange600">face</i>
      <mat-icon class="example-icon">delete</mat-icon>-->
    </mat-toolbar-row>

  </mat-toolbar>

</div>


