<div class="product-page">

  <mat-card class="product-page">

    <div class="row">
      <div class="col-xs-9 col-sm-9">
        <header>
          <h1>{{(product$ | async)?.name}}</h1>
          <h4>{{(product$ | async)?.shopName}}</h4>
        </header>
      </div>
      <div class="col-xs-3 col-sm-3 medium">
        <button mat-icon-button class="like" (click)="changeLikeIcon($event)">
          <mat-icon aria-label="Like" svgIcon={{getLikeIcon()}}></mat-icon>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img style="max-height: 400px" class="product-description-img" src="{{(product$ | async)?.img}}">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-8 flex-container">
        <div>
          <mat-card-content>
            <p class="text-overflow">{{(product$ | async)?.text}}</p>
            <p class="price-tag">{{(product$ | async)?.price}} €</p>
          </mat-card-content>
        </div>

        <div>
          <div class="rating">
            <div>
              <p>({{(product$ | async)?.ratingCount}})</p>
            </div>
            <div>
              <span class="fa fa-star" [ngClass]="{'checked': (product$ | async)?.ratingAvg >= 1}"></span>
              <span class="fa fa-star" [ngClass]="{'checked': (product$ | async)?.ratingAvg >= 2}"></span>
              <span class="fa fa-star" [ngClass]="{'checked': (product$ | async)?.ratingAvg >= 3}"></span>
              <span class="fa fa-star" [ngClass]="{'checked': (product$ | async)?.ratingAvg >= 4}"></span>
              <span class="fa fa-star" [ngClass]="{'checked': (product$ | async)?.ratingAvg >= 5}"></span>
            </div>
          </div>
        </div>
        <div>
          <div class="rating">
            <a routerLink="/shop/{{(product$ | async)?.shopId}}" routerLinkActive="active">
              {{(product$ | async)?.shopName}}
            </a>
          </div>
        </div>

      </div>

    </div>

  </mat-card>

  <div class="row">
    <app-rating [productId]="this.productId"></app-rating>
  </div>

  <div class="row">
    <app-review [productId]="this.productId"></app-review>
  </div>

</div>
