html {
  height: 100%;
  background: #f3f3f3;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(50%,#ffffff));
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#ffffff 50%);
  background: -o-linear-gradient(top, #f3f3f3 0%,#ffffff 50%);
  background: -ms-linear-gradient(top, #f3f3f3 0%,#ffffff 50%);
  background: linear-gradient(top, #f3f3f3 0%,#ffffff 50%);
  //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ffffff',GradientType=0 );
}

h1, h4 {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 24pt;
}

h4 {
  font-size: 16pt;
  color: #aaa;
}

header {
  margin-bottom: 20px;
}

.product-page {
  max-width: 95%;
  margin: 10px auto;
}

mat-card img {
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 100%;
  margin: auto;
}

mat-card-content {
  line-height: 150%;
  max-width: 100%;
  color: #333;
  margin-top: 10px;
}

mat-card-actions {
  margin: 2px;
}

.price-tag {
  color: red;
  font-style: oblique;
  font-size: 20px;
  text-align: right;
  // border-top-left-radius: 30%;
}

.like {
  float: right;
}

.text-overflow {
  word-wrap: break-word;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: flex-start;
}

.checked {
  color: orange;
}

.rating {
  // float: right;
  display: flex;
  justify-content: flex-end;
}

$icon-small-container-size: 32px;
$icon-medium-container-size: 64px;
$icon-large-container-size: 80px;
$icon-small-size: 16px;
$icon-medium-size: 32px;
$icon-large-size: 50px;

.mat-icon-button.small {
  width: $icon-small-container-size;
  height: $icon-small-container-size;
  line-height: $icon-small-container-size;

  .mat-icon, .mat-icon-button i {
    line-height: $icon-small-size;
  }

  .mat-icon {
    width: $icon-small-size;
    height: $icon-small-size;
  }

  .material-icons {
    font-size: $icon-small-size;
  }
}

.mat-icon-button.medium {
  width: $icon-medium-container-size;
  height: $icon-medium-container-size;
  line-height: $icon-medium-container-size;

  .mat-icon, .mat-icon-button i {
    line-height: $icon-medium-size;
  }

  .mat-icon {
    width: $icon-medium-size;
    height: $icon-medium-size;
  }

  .material-icons {
    font-size: $icon-medium-size;
  }
}

.mat-icon-button.large {
  width: $icon-large-container-size;
  height: $icon-large-container-size;
  line-height: $icon-large-container-size;

  .mat-icon, .mat-icon-button i {
    line-height: $icon-large-size;
  }

  .mat-icon {
    width: $icon-large-size;
    height: $icon-large-size;
  }

  .material-icons {
    font-size: $icon-large-size;
  }
}

.product-description-img {
  width: 450px; height: 300px;
}

@media only screen and (min-width : 768px) {

  .product-description-img {
    width: 350px;
    height: 200px;
  }
}
