<div class="login-form-container">

  <h1>
    LOGIN
  </h1>

  <div class="blurred-img">
    <img class="blurred-img" src="../../assets/background/living_room3.jpg"/>
  </div>

  <form class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">

    <div class="form-group">
      <label for="email">Email </label>
      <input type="email" class="form-control" id="email"
             required
             pattern="(?=.{1,254}$)(?=.{1,64}@)[-!#$%&'*+/0-9=?A-Z^_`a-z{|}~]+(\.[-!#$%&'*+/0-9=?A-Z^_`a-z{|}~]+)*@[A-Za-z0-9]([A-Za-z0-9-]{0,61}[A-Za-z0-9])?(\.[A-Za-z0-9]([A-Za-z0-9-]{0,61}[A-Za-z0-9])?)"
             [(ngModel)]="model.email" name="email"
             #email="ngModel">
      <div [hidden]="email.valid || (email.untouched && !email.submitted)"
           class="text-danger">
        Email is required
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password </label>
      <input type="password" class="form-control" id="password"
             required
             minlength="6"
             [(ngModel)]="model.password" name="password"
             #password="ngModel">
      <div [hidden]="password.valid || (password.untouched && !password.submitted)"
           class="text-danger">
        Password is required
      </div>
    </div>

    <div class="form-group">
      <input [(ngModel)]="rememberMe" type="checkbox" name="rememberMe" value="true"><span style="padding-left: 5px; color: white">Remember me</span><br>
      <label class="checkbox"></label>
    </div>

    <div>
      <button type="submit" class="btn btn-success submit-button" [disabled]="!loginForm.form.valid">Login</button>
    </div>

  </form>
</div>





