@import "../styles/variables";

h1 {
  margin-top: 0;
  margin-bottom: 30px;
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-bottom: 50px;
}

.login-form {
  width: 60%;
}

.blurred-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(5px); /* Safari */
  filter: blur(4px);
  z-index: -1;
  object-fit: cover;
}

h1 { color: white; }
label { color: white; }
label span { color: red; }
