html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #8e44ad;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.categories-container {
  display: flex;
  background-color: #fff;
  min-width: 100%;
  overflow-x: auto;
}

.category--content {
  background-color: #e74c3c;
  // min-width: 200px;
  margin: 5px;
}

.categories-container::-webkit-scrollbar {
  display: none;
}

.category-btn {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  border: none;
  outline:none;
  font-family: Arial;
  font-weight: bold;
  color: #b0b0b0;
  font-size: 20px;
  background: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-width: 0;
}

.category-btn:hover {
  background: lightgrey;
  color: white;
  text-decoration: none;
}

.checked {
  background: lightgrey;
  color: white;
  text-decoration: none;
}

.category-container {

}
