
<div class="categories-container" [ngClass]="{'search-field-hide': !isHome}">

  <div *ngFor="let category of categories" class="category-container">
    <button
      class="category-btn category--content"
      [ngClass]="{'checked': category.key == categorySelected}"
      (click)="onCategoryClicked(category.key)"
    >{{category.value}}</button>
  </div>

</div>

