<div>
  <h2 md-dialog-title>Error</h2>
  <hr>
  <mat-dialog-content>
    {{data}}
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onCloseConfirm()">OK</button>
  </mat-dialog-actions>
</div>
