.add-product-form-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
}

.form-row input {
  width: 100%;
}

input.currency {
  text-align: right;
}




