<div class="add-product-form-container">

  <h1>{{inEditMode ?  'EDIT PRODUCT' : 'ADD PRODUCT'}}</h1>
  <br>
  <form (ngSubmit)="onSubmit()" #addProductForm="ngForm">
      <div class="form-group">
        <label for="name">Name <span class="required">*</span></label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || (name.untouched && !addProductForm.submitted)"
             class="text-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description <span class="required">*</span></label>
        <input type="text" class="form-control" id="description"
               required
               [(ngModel)]="model.text" name="description"
               #description="ngModel">
      </div>

      <div class="form-group">
        <label for="price">Price <span class="required">*</span></label>
        <div class="input-group">
          <span class="input-group-addon">€</span>
          <input type="number" placeholder="19.90" class="form-control currency" id="price"
                 required
                 [(ngModel)]="model.price" name="price"
                 #price="ngModel">
        </div>
      </div>

      <div class="form-group">
        <label for="inputCategory">Category <span class="required">*</span></label>
        <select class="form-control" id="inputCategory" name="inputCategory" [(ngModel)]="model.category" required>
          <option *ngFor="let category of categories" [ngValue]="category.key">{{category.value}}</option>
        </select>
      </div>

    <br>

      <label for="imageUpload">Product image</label>
      <input type="file" (change)="fileEvent($event)" name="imageUpload" id="imageUpload"/>

      <button type="submit" class="btn btn-success submit-button" [disabled]="!addProductForm.form.valid">
        {{inEditMode ?  'Edit Product' : 'Add Product'}}
      </button>

  </form>
</div>


