.page {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

.header,
.footer {
  flex: none; /* 2 */
  // min-height: 56px;
  overflow: hidden;
}

.content {
  overflow-y: scroll;
  height: 0;
  flex-grow: 1;
}
