<div class="page">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="categories">
    <app-categories></app-categories>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer hidden-sm hidden-md hidden-lg">
    <app-footer></app-footer>
  </div>
</div>
