h1, h4 {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 16px;
  font-weight: bold;
}

h4 {
  font-size: 14px;
  color: #aaa;
}

.review-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-review {
  max-width: 95%;
  margin: 10px auto;
}

.rating {
  // float: right;
  margin-left: 15px;
  display: flex;
  justify-content: flex-start;
}

.stars {
  margin-right: 10px;
}

.checked {
  color: orange;
}
