<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="product-review">

  <div *ngFor="let rating of ratings$ | async; index as i" #productScrollDiv>
    <div class="row">

      <div class="rating">
        <div class="stars">
          <span class="fa fa-star" [ngClass]="{'checked': rating.rating >= 1}"></span>
          <span class="fa fa-star" [ngClass]="{'checked': rating.rating >= 2}"></span>
          <span class="fa fa-star" [ngClass]="{'checked': rating.rating >= 3}"></span>
          <span class="fa fa-star" [ngClass]="{'checked': rating.rating >= 4}"></span>
          <span class="fa fa-star" [ngClass]="{'checked': rating.rating >= 5}"></span>
        </div>

        <div>
          <h1>{{rating.title}}</h1>
        </div>
      </div>

    </div>

    <div>
      <h4>From {{rating.userName}} at {{rating.createdAt | date:'medium'}}</h4>
    </div>

    <div class="review-text">
      <!--<p>Hab ja ehrlich gesagt erst mal einen Anläufe gebraucht um richtig zu verstehen wie man das Teil anwendet :D wirklich drücken und großzügig verteilen. Aber es funktioniert wunderbar. Habe ein tausend Teile puzzle damit geklebt. Aber man muss echt was drunter legen wie backpapier oder so. Er klebt richtig gut. Hebt aber auch entsprechend und das puzzle glänzt. Werde ich wieder kaufen sobald ich es benötige! So macht puzzlen Spaß. Du weißt das du ohne Probleme dein puzzle an die Wand bekommst UND ohne etwas darunter. Keine holzplatte, kein Karton nichts.</p>
      -->
      <p>{{rating.text}}</p>

    </div>
  </div>



</div>
