// CSS styling is required!
// define a height component `agm-map`, otherwise, you won't see a map on the page!

agm-map {
  height: 100%;
}

.radius {
  margin-right: 5px;

  p {
    font-size: 20px;
    font-weight: bold;
    color: indianred;
  }
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  //display: block; /* Hidden by default */
  width: 90%; /* Full width (cover the whole page) */
  //height: 100%; /* Full height (cover the whole page) */
  //top: 0;

  bottom: 80px;
  // background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.slider {
  margin-top: 7px;
  -webkit-appearance: none;
  width: 60%;
  height: 15px;
  border-radius: 5px;
  background: white;
  outline: none;
  opacity: 1.0;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: indianred;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: darkred;
  cursor: pointer;
}

.info-box-wrap {
  background:#fff;
  // overflow: hidden;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.08);
}
.info-box-text-wrap {
  height:45px !important;
  width:120px;
  float:left;
  //overflow: hidden;
}
.action-btns {
  float:left;
  width:70px;
  overflow: hidden;
  position: relative;
  top:12px;
  left: 6px;
}
.action-btns i {
  font-size: 18px;
  color: #78A737;
  margin-left: 3px;
}
.action-btns i:hover {
  transition: color 0.5s ease;
  color:#ccc;
  cursor: pointer;
}
.action-btns i.fa-heart-o {
  font-weight: bold;
}
.info-box-text-wrap h6.address {
  // padding:6px 5px 1px 0;
  width: 100%;
  margin:0 0 0 0;
  font-family:"Roboto Slab";
  color:#B25B00;
  // font-weight: 700;
  // overflow: hidden;
  text-overflow: ellipsis;
  //white-space: nowrap;
}

.info-box-text-wrap h5.address {
  // padding:6px 5px 1px 0;
  margin:0 0 0 0;
  font-family:"Roboto Slab";
  color: #0c99c8;
  font-weight: 700;
  // overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info-box-text-wrap p {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
.info-box-text-wrap p.price {
  color:#B25B00;
}

.info-box-wrap  img {
  width:40px !important;
  height:40px;
  float:left;
  margin-right: 10px;
  padding-top:0;
  margin-top:0;
}
