<div id="overlay" class="center-container">
  <div class="radius">
    <p>{{radius/1000}} km</p>
  </div>
  <input (change)="onRadiusChanged($event)" type="range" min="5" max="200" step="10" [value]="radius/1000" class="center-container slider" id="myRange">
</div>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="localLat" [longitude]="localLng" [zoom]=10>
  <agm-marker [latitude]="localLat" [longitude]="localLng"></agm-marker>

  <agm-marker [latitude]="localLat" [longitude]="localLng" >
    <agm-info-window>
      <div class="info-box-wrap">
        <img src="{{img}}" />
        <div class="info-box-text-wrap">
          <a routerLink="/shop/5a6372ff44265f4428746647" routerLinkActive="active">
            <h5 class="address">The Jam Creator Shop</h5>
          </a>
          <p class="address">Softwarepark 10/6 4232 Hagenberg</p>
        </div>
        <div class="action-btns"></div>
      </div>
    </agm-info-window>
  </agm-marker>

  <agm-marker
    *ngFor="let shop of (shopsInRadius$ | async)"
    [latitude]="shop.shop.lat"
    [longitude]="shop.shop.long">
    <agm-info-window>
      <div class="info-box-wrap">
        <img src="{{shop.shop.profileImg}}" />
        <div class="info-box-text-wrap">
          <a routerLink="/shop/{{shop.shop._id}}" routerLinkActive="active">
            <h5 class="address">{{shop.shop.name}}</h5>
          </a>
          <p class="address">{{shop.shop.shopAddress}}</p>
        </div>
        <div class="action-btns"></div>
      </div>
    </agm-info-window>
  </agm-marker>

  <agm-circle [latitude]="localLat+0.0" [longitude]="localLng+0.0"
              [radius]="radius"
              [fillColor]="'red'"
              [circleDraggable]="false"
              [editable]="true"
              (radiusChange)="onRadiusChanged($event)">
  </agm-circle>

</agm-map>

