h1, h4 {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 16px;
  font-weight: bold;
}

h4 {
  font-size: 14px;
  color: #aaa;
}

p {
  margin: 0 0 0;
  margin-right: 10px;
}

.product-rating {
  max-width: 95%;
  margin: 10px auto;
}

.progress {
  height: 10px;
  width: 70%;
  margin: 0;
}

.progress-bar {
  background-color: orange;
  width: 70%;
}

.flex-container-stars {
  // float: right;
  //margin-left: 15px;
  display: flex;
  justify-content: center;
}

.flex-container {
  // float: right;
  //margin-left: 15px;
  display: flex;
  justify-content: flex-start;
}

.flex-container-bar {
  display: flex;
  align-items: center;
}

.stars {
  margin-right: 10px;
}

.evaluate-stars {
  direction: rtl;

  .fa-star {
    font-size: 50px;
  }
}

.evaluate-stars > span:hover:before,
.evaluate-stars > span:hover ~ span:before {
  color: orange;
}

.checked {
  color: orange;
}

.center {
  margin: 0 auto;
}

.submit-btn-margin {
  margin-bottom: 10px;
}

.margin {
  margin: 10px;
}

.margin-top {
  margin-top: 20px;
}

.margin-top-bottom {
  margin-top: 10px;
  margin-bottom: 10px;
}
