<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid product-rating">

  <div class="row">

    <div class="flex-container">
      <div class="stars">
        <span class="fa fa-star" [ngClass]="{'checked': (overallRating$ | async)?.average >= 1}"></span>
        <span class="fa fa-star" [ngClass]="{'checked': (overallRating$ | async)?.average >= 2}"></span>
        <span class="fa fa-star" [ngClass]="{'checked': (overallRating$ | async)?.average >= 3}"></span>
        <span class="fa fa-star" [ngClass]="{'checked': (overallRating$ | async)?.average >= 4}"></span>
        <span class="fa fa-star" [ngClass]="{'checked': (overallRating$ | async)?.average >= 5}"></span>
      </div>

      <div>
        <p>({{(overallRating$ | async)?.countOfRatings}})</p>
      </div>
    </div>

    <div>
      <p>{{round((overallRating$ | async)?.average, 1)}} Stars of 5</p>
    </div>

      <div *ngFor="let value of [5,4,3,2,1]">
        <div class="flex-container-bar">
          <div>
            <p>{{value}} Stars</p>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                 aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': round((((overallRating$ | async)?.ratingStat[value-1].countOfRatingLevel)/(overallRating$ | async)?.countOfRatings)*100, 1)+'%'}">
              <span></span>
            </div>
          </div>
          <div style="padding-left: 10px">
            <p >{{(round((((overallRating$ | async)?.ratingStat[value-1].countOfRatingLevel)/(overallRating$ | async)?.countOfRatings)*100, 0))}}%</p>
          </div >
        </div>
      </div>

  </div>
  
  <div class="margin" [ngClass]="{'center-container': addRatingViewHidden}" [hidden]="!addRatingViewHidden">
    <button type="button" class="add-button" (click)="addRatingClicked()">+</button>
  </div>

  <div class="row margin-top" [hidden]="addRatingViewHidden">
    <div class="flex-container-stars">
      <div class="evaluate-stars">
        <span class="fa fa-star medium" (click)="starClicked(5)" [ngClass]="{'checked': model.rating >= 5}"></span>
        <span class="fa fa-star" (click)="starClicked(4)" [ngClass]="{'checked': model.rating >= 4}"></span>
        <span class="fa fa-star" (click)="starClicked(3)" [ngClass]="{'checked': model.rating >= 3}"></span>
        <span class="fa fa-star" (click)="starClicked(2)" [ngClass]="{'checked': model.rating >= 2}"></span>
        <span class="fa fa-star checked" (click)="starClicked(1)"></span>
      </div>
    </div>

    <form #commentForm="ngForm">
      <div class="form-group">
        <label for="title">Title<span class="required">*</span></label>
        <input type="text" class="form-control" id="title"
               required
               [(ngModel)]="model.title" name="title"
               #title="ngModel">
        <div [hidden]="title.valid || (title.untouched && !commentForm.submitted)"
             class="text-danger">
          Title is required.
        </div>

        <label class="margin-top" for="comment">Comment<span class="required">*</span></label>
        <textarea rows="10" cols="35" type="text" class="form-control" id="comment"
                  required
                  [(ngModel)]="model.text" name="text"
                  #comment="ngModel"></textarea>
        <div [hidden]="comment.valid || (comment.untouched && !commentForm.submitted)"
             class="text-danger">
          Comment is required.
        </div>
      </div>
    </form>

    <div class="center-container">
      <button type="submit" class="btn btn-default" (click)="onSubmit()" [disabled]="!commentForm.form.valid">Add Comment</button>
    </div>

  </div>

</div>

