<div class="row" style="width: 98%; margin: auto">

  <div class="container">
    <div *ngFor="let product of products$ | async; index as i" #productScrollDiv>
      <div id="product" class="product-cursor-pointer col-xs-12 col-md-4 col-lg-3 col-sm-6" (click)="productClicked($event, i)">
        <mat-card class="space-between-cards">

          <img mat-card-image src="{{(product.img) ? product.img : '../../assets/jams.PNG'}}" >

        <mat-card-content>
          <div class="row">
            <div class="col-xs-12">
              <mat-card-title>{{product.name}}</mat-card-title>
              <mat-card-subtitle>by {{product.shopName}}</mat-card-subtitle>
            </div>
          </div>

          <div class="price-row-container">
              <div class="rating">
                <div>
                  <span class="fa fa-star" [ngClass]="{'checked': product.ratingAvg >= 1}"></span>
                  <span class="fa fa-star" [ngClass]="{'checked': product.ratingAvg >= 2}"></span>
                  <span class="fa fa-star" [ngClass]="{'checked': product.ratingAvg >= 3}"></span>
                  <span class="fa fa-star" [ngClass]="{'checked': product.ratingAvg >= 4}"></span>
                  <span class="fa fa-star" [ngClass]="{'checked': product.ratingAvg >= 5}"></span>
                </div>
              </div>
            <p class="price-tag">{{product.price}} €</p>
          </div>
        </mat-card-content>

          <mat-card-actions id="mat-card-action">
            <button id="like" mat-icon-button class="medium like" (click)="changeLikeIcon($event, product._id)">
              <mat-icon id="like-icon" aria-label="Like" svgIcon={{getLikeIcon(product._id)}}></mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>


