@import "../product-description/product-description.component";

$icon-small-container-size: 32px;
$icon-medium-container-size: 64px;
$icon-large-container-size: 80px;
$icon-small-size: 16px;
$icon-medium-size: 32px;
$icon-large-size: 50px;

.container {
  padding-top: 15px;
}

.mat-icon-button.small {
  width: $icon-small-container-size;
  height: $icon-small-container-size;
  line-height: $icon-small-container-size;

  .mat-icon, .mat-icon-button i {
    line-height: $icon-small-size;
  }

  .mat-icon {
    width: $icon-small-size;
    height: $icon-small-size;
  }

  .material-icons {
    font-size: $icon-small-size;
  }
}

.mat-icon-button.medium {
  width: $icon-medium-container-size;
  height: $icon-medium-container-size;
  line-height: $icon-medium-container-size;

  .mat-icon, .mat-icon-button i {
    line-height: $icon-medium-size;
  }

  .mat-icon {
    width: $icon-medium-size;
    height: $icon-medium-size;
  }

  .material-icons {
    font-size: $icon-medium-size;
  }
}

.mat-icon-button.large {
  width: $icon-large-container-size;
  height: $icon-large-container-size;
  line-height: $icon-large-container-size;

  .mat-icon, .mat-icon-button i {
    line-height: $icon-large-size;
  }

  .mat-icon {
    width: $icon-large-size;
    height: $icon-large-size;
  }

  .material-icons {
    font-size: $icon-large-size;
  }
}

.mat-card {
 padding: 0;
}

.mat-card img {
  //width: 100%;
  height: 255px;
  margin: auto;
}

.space-between-cards {
  margin-top: 30px;
}

.mat-icon-button.like {
  position:absolute;
  top:0;
  right:0;
}

.mat-card-header {
  margin: 0;
}

.mat-card-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 3px;
}

.mat-card-subtitle {
  font-size: 14px;
}

.mat-card-content {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 0;
  margin-top: 0;
}

.price-tag {
  color: black;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  // border-top-left-radius: 30%;
}

.price-row-container {
  display: flex;
  justify-content: space-between;
}

.submenu {
  margin-bottom: 30px;
  li {
    display: list-item;
    // font: 300 14px @brand-font;
    list-style-position: inside;
    list-style-type: square;
    padding: 10px;
    text-transform: uppercase;

    a {
      color: blue;
      text-decoration: none;
      &:hover {
        color: red;
      }
    }
  }
}

.product-cursor-pointer {
  cursor: pointer;
}
