@import "../styles/variables";

html,body {
  background: #efefef;
  font-family: "Arial";
}

.container {
  max-width: 100%;
  // margin: 30px auto 30px;
  padding: 0 !important;
  width: 100%;
  background-color: #fff;
  //box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}

header {
  background-position: center;
  background-size: cover;
  height: 250px;
}

.headerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header i {
  position: relative;
  cursor: pointer;
  right: -96%;
  top: 25px;
  font-size: 18px !important;
  color: #fff;
}

/* @media (max-width:800px) {
  header {
    height: 150px;
  }

  header i {
    right: -90%;
  }
} */

main {
  padding: 20px 20px 0px 20px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.photo {
  width: 200px;
  height: 200px;
  margin-top: -120px;
  border-radius: 100px;
  border: 4px solid #fff;
}

@media (max-width:990px) {
  .active {
    right: calc(50% - 60px);
    top: 50px;
  }
}

.name {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18pt;
  color: #777;
}

.info {
  margin-top: -5px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  color: #aaa;
}

.stats {
  margin-top: 25px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
  font-family: 'Montserrat', sans-serif;
}


.number-stat {
  padding: 0px;
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #aaa;
}

.desc-stat {
  margin-top: -15px;
  font-size: 10pt;
  color: #bbb;
}

.desc {
  text-align: center;
  margin-top: 25px;
  margin: 25px 40px;
  color: #777;
  font-size: 11pt;
  padding-bottom: 25px;
  border-bottom: 1px solid #ededed;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.social {
  margin: 5px 0 12px 0;
  text-align: center;
  display: inline-block;
  font-size: 20pt;
}

.social i {
  cursor: pointer;
  margin: 0 15px;
}

.social i:nth-child(1)  { color: #4267b2; }
.social i:nth-child(2)  { color: #1da1f2; }
.social i:nth-child(3)  { color: #bd081c; }
.social i:nth-child(4)  { color: #36465d; }

.right {
  padding: 0 25px 0 25px !important;
}

.nav {
  display: inline-flex;
}

.nav li {
  margin: 5px 30px 0 10px;
  cursor: pointer;
  font-size: 13pt;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #888;
}

.nav li:hover  {
  color: #999;
  border-bottom: 2px solid #999;
}

.tab-selected {
  color: #999;
  border-bottom: 2px solid #999;
}

.follow {
  position: absolute;
  right: 8%;
  top: 35px;
  font-size: 11pt;
  background-color: #42b1fa;
  color: #fff;
  padding: 8px 15px;
  cursor: pointer;
  transition: all .4s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.follow:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2), 0 0 15px rgba(0,0,0,0.2);
}

.edit-photo img {
  opacity: 0;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  position: absolute;
  right: calc(50% - 70px);
  top: 35px;
  background-image: url('../../assets/icons/camera.png');
  border: 3px solid #fff;
}

.photo-left:hover {
  .edit-photo img {
    opacity: 1;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: absolute;
    right: calc(50% - 70px);
    top: 35px;
    background-image: url('../../assets/icons/camera.png');
    border: 3px solid #fff;
  }
}

///////////////////////////////FLOATING POINT///////
.floating-point-container {
  bottom: 0;
  position: fixed;
  margin: 50px;
  right: 0px;
}

.buttons {
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  margin: 20px auto 0;
  position: relative;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  &:active, &:focus, &:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  }
  &:not(:last-child) {
    width: 40px;
    height: 40px;
    margin: 20px auto 0;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
}

.floating-point-container:hover .buttons:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  margin: 15px auto 0;
}

/* Unessential styling for sliding up buttons at differnt speeds */

.buttons {
  &:nth-last-child(1) {
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms;
    background-image: url('../../assets/icons/edit.svg');
    background-size: contain;
  }
  &:not(:last-child) {
    &:nth-last-child(2) {
      -webkit-transition-delay: 50ms;
      transition-delay: 20ms;
      background-image: url('../../assets/icons/edit_product.svg');
      background-size: contain;
    }
    &:nth-last-child(3) {
      -webkit-transition-delay: 75ms;
      transition-delay: 40ms;
      background-image: url('../../assets/icons/plus.svg');
      background-size: contain;
    }
    &:nth-last-child(4) {
      -webkit-transition-delay: 100ms;
      transition-delay: 60ms;
      background-image: url('../../assets/icons/garbage3.svg');
      background-size: contain;
    }
  }
}

/* Show tooltip content on hover */

[tooltip] {
  &:before {
    bottom: 25%;
    font-family: arial;
    font-weight: 600;
    border-radius: 2px;
    background: #585858;
    color: #fff;
    content: attr(tooltip);
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    padding: 5px 7px;
    margin-right: 12px;
    position: absolute;
    right: 100%;
    white-space: nowrap;
  }
  &:hover {
    &:before, &:after {
      visibility: visible;
      opacity: 1;
    }
  }
}

@media (max-width:768px) {
  .floating-point-container {
    bottom: 0;
    position: fixed;
    margin-bottom: 80px;
    margin-right: 20px;
    right: 0px;
  }
}

////////////////////////////////////////////////////

@media (max-width:990px) {

  .follow {
    width: 50%;
    margin-left: 25%;
    display: block;
    position: unset;
    text-align: center;
  }
}
.gallery  {
  margin-top: 5px;
}

.gallery div {
  // margin-bottom: 30px;
}

.gallery img {
  // box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
  // width: auto;
  height: 255px;
  cursor: pointer;
  object-fit: cover;
  // max-width: 100%;
}


.mat-card-title {
  font-size: 16px;
}

.mat-card-subtitle {
  font-size: 14px;
}

.space-between-cards {
  margin-top: 30px;
}

.border {

  .mat-card-image {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  border-style: solid;
  border-radius: 10px;

  border-top: 0 solid $dark-red;
  border-bottom: 0 solid $dark-red;
  border-left:3px solid $dark-red;
  border-right:3px solid $dark-red;
  background-image:
    linear-gradient($dark-red, $dark-red),
    linear-gradient($dark-red, $dark-red);
}

[hidden] {
  display: none !important;
}


