<div class="container">
  <header>
    <img class="headerImage" src="{{(isPrivate) ? (isShop) ? (user$ | async)?.shop?.titleImg : (user$ | async)?.titleImg : (shop$ | async)?.titleImg}}"/>
    <i class="fa fa-bars" aria-hidden="true"></i>
  </header>
  <main>
    <div class="row">
      <div class="left col-lg-4">
        <div class="photo-left">
          <img class="photo" src="{{(isPrivate) ? (isShop) ? (user$ | async)?.shop?.profileImg : (user$ | async)?.profileImg : (shop$ | async)?.profileImg}}"/>
          <input hidden type="file" accept="image/*" (change)="fileEvent($event)" #file>
          <div hidden class="edit-photo" (click)="file.click()">
            <img src="../../assets/icons/camera.svg">
          </div>
        </div>
        <h4 class="name">{{(isPrivate) ? (isShop) ? (user$ | async)?.shop?.name : (user$ | async)?.name : (shop$ | async)?.name}}</h4>
        <p class="info">{{(isPrivate) ? (isShop) ? (user$ | async)?.shop?.phone : (user$ | async)?.phone : (shop$ | async)?.phone}}</p>
        <p class="info">{{(isPrivate) ?  (user$ | async)?.email : (shop$ | async)?.shopEmail}}</p>
        <p class="info">{{(isPrivate) ? (isShop) ? (user$ | async)?.shop?.shopAddress : (user$ | async)?.address : (shop$ | async)?.shopAddress}}</p>
        <p class="info">{{(isPrivate) ? (isShop) ? (user$ | async)?.shop?.website : '' : (shop$ | async)?.website}}</p>
        <div class="stats row" [hidden]="isPrivate">
          <!--<div class="stat col-xs-4" style="padding-right: 50px;">
            <p id="followers" class="number-stat">12121</p>
            <p class="desc-stat">Followers</p>
          </div>
          <div class="stat col-xs-4">
            <p id="following" class="number-stat">48</p>
            <p class="desc-stat">Following</p>
          </div>-->
          <div class="stat col-xs-12">
            <p id="uploads" class="number-stat">{{(shop$ | async)?.products.length}}</p>
            <p class="desc-stat">Uploads</p>
          </div>
        </div>
        <p class="desc">{{(isPrivate) ? (user$ | async)?.shop?.bio : (shop$ | async)?.bio}}</p>

      </div>
      <div class="right col-lg-8">
        <div [hidden]="!(isShop)&&!(isPrivate)">
          <ul class="nav">
            <li [hidden]="!(isShop)" [ngClass]="{'tab-selected': tabSelected === 0}" (click)="onTabSelected(0)">My Products</li>
            <li [ngClass]="{'tab-selected': tabSelected === 1}" (click)="onTabSelected(1)">Wishlist</li>
            <!--<li>Favourites</li>-->
          </ul>
        </div>

        <!--<div [hidden]="isPrivate" (click)="onFollowClicked()">
          <span class="follow">Follow</span>
        </div>-->

        <div class="row gallery">
          <div *ngFor="let product of products$ | async">
            <div class="col-md-4">
              <mat-card class="border space-between-cards" (click)="onSelectProduct(product._id)" [ngClass]="{'border': product._id === selectedProduct}">
                <div class="row-relative">
                  <img class="product-image" mat-card-image src="{{(product.img) ? product.img : '../../assets/jams.PNG'}}">
                  <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <mat-card-title>{{product.name}}</mat-card-title>
                    <mat-card-header>
                      <!--<div mat-card-avatar class="example-header-image"></div>-->
                      <mat-card-subtitle>by {{product.shopName}}</mat-card-subtitle>
                    </mat-card-header>
                  </div>
                </div>

                <mat-card-content>
                  <p class="price-tag">{{product.price}} €</p>
                </mat-card-content>

              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav [hidden]="!isPrivate" class="floating-point-container"  >
      <a (click)="onFloatButtonClicked(2)" class="buttons" tooltip="Delete"></a>
      <a [hidden]="!isShop" (click)="onFloatButtonClicked(1)" class="buttons" tooltip="Add"></a>
      <a [hidden]="!isShop" (click)="onFloatButtonClicked(0)" class="buttons" tooltip="Edit"></a>
      <a class="buttons" tooltip="Edit Product"></a>
    </nav>

  </main>
</div>
