/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,body {
  height: 100%;
}

.submit-button {
  position: fixed;
  bottom: 56px;
  left:0;
  right:0;
  width: 100%;
  height: 50px;
  border-radius: 0;
  border-color: #ff7c7c;
  background-color: #ff7c7c;

}

.btn-success:hover{
  border-color: #ff7c7c;
  background-color: #ff7c7c;
}

.btn-primary, .btn:hover, .btn-primary:active, .btn-primary:visited, btn-success {
  border-color: #ff7c7c !important;
  background-color: #ff7c7c !important;
}

.row-relative {
  position: relative;
}

.search-field-hide {
  display: none !important;
}

.toolbar-row-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.center-container {
  display: flex;
  justify-content: center;
}

.add-button {
  border: none;
  outline:none;
  border-radius: 41px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 24px;
  background: #c2c2c2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.add-button:hover, .add-button:focus, .add-button:active {

  background: #9e9e9e;
  text-decoration: none;
}

@media only screen and (min-width : 768px) {

  .submit-button {
    bottom: 0;
  }

}
