<div class="container-fluid">

  <div class="row row-relative">
    <a routerLink="/register/user" routerLinkActive="active">
      <div class="col-xs-6 register-switch"
           [ngClass]="{'user-selected': type==='user'}">
        <img src="../../assets/user_white.svg">
      </div>
    </a>
    <div class="decide-selector">
      <img class="img-decide" src="../../assets/question.svg">
    </div>
    <a routerLink="/register/shop" routerLinkActive="active">
      <div class="col-xs-6 register-switch"
           [ngClass]="{'shop-selected': type==='shop'}">
        <img src="../../assets/store_white.svg">
      </div>
    </a>
  </div>

  <div class="row">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="register-form-container">

        <div class="blurred-img">
          <img class="blurred-img" src="../../assets/products/jam3.jpg"/>
        </div>

        <div class="form-group">
          <label for="usr">Name <span class="required">*</span></label>
          <input type="text" class="form-control" id="usr"
                 required
                 [(ngModel)]="model.name" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || (name.untouched && !userForm.submitted)"
               class="text-danger">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="email">E-Mail <span class="required">*</span></label>
          <input type="email" class="form-control" id="email"
                 required
                 pattern="(?=.{1,254}$)(?=.{1,64}@)[-!#$%&'*+/0-9=?A-Z^_`a-z{|}~]+(\.[-!#$%&'*+/0-9=?A-Z^_`a-z{|}~]+)*@[A-Za-z0-9]([A-Za-z0-9-]{0,61}[A-Za-z0-9])?(\.[A-Za-z0-9]([A-Za-z0-9-]{0,61}[A-Za-z0-9])?)"
                 [(ngModel)]="model.email" name="email"
                 #mail="ngModel"
                 placeholder="user@crafthof.com">
          <div [hidden]="mail.valid || (mail.untouched && !userForm.submitted)"
               class="text-danger">
            E-Mail is required
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="tel" class="form-control" id="phone"
                 [(ngModel)]="model.phone" name="phone">
        </div>
        <div [hidden]="type === 'shop'" class="form-group">
          <label for="address">Address</label>
          <input type="tel" class="form-control" id="address"
                 [(ngModel)]="model.address" name="address">
        </div>
        <div class="form-group">
          <label for="pwd">Password <span class="required">*</span></label>
          <input type="password" class="form-control" id="pwd"
                 required
                 minlength="6"
                 [(ngModel)]="model.password" name="password"
                 #password="ngModel"
                 appValidateEqual="passwordConf" reverse="true">
          <div [hidden]="password.valid || (password.untouched && !userForm.submitted)"
               class="text-danger">
            Password is required
          </div>
        </div>
        <div class="form-group">
          <label for="pwdconf">Password Confirmation <span class="required">*</span></label>
          <input type="password" class="form-control" id="pwdconf"
                 required
                 minlength="6"
                 [(ngModel)]="model.passwordConf" name="passwordConf"
                 #passwordConf="ngModel"
                 appValidateEqual="password" reverse="false">
          <div [hidden]="passwordConf.valid || (passwordConf.pristine && !userForm.submitted)"
               class="text-danger">
            Password mismatch
          </div>
        </div>

        <div *ngIf="type === 'shop';then shop_Fields"></div>

        <ng-template #shop_Fields>

          <div class="form-group">
            <label for="shopName">Shop Name <span class="required">*</span></label>
            <input type="text" class="form-control" id="shopName"
                   required
                   [(ngModel)]="model.shop.name" name="shopName"
                   #shopName="ngModel">
            <div [hidden]="shopName.valid || (shopName.untouched && !userForm.submitted)"
                 class="text-danger">
              A shop name is required
            </div>
          </div>

          <div class="form-group">
            <label for="shopAddress">Shop Address<span class="required">*</span></label>
            <input type="text" class="form-control" id="shopAddress"
                   required
                   [(ngModel)]="model.shop.shopAddress" name="shopAddress"
                   #shopAddress="ngModel">
            <div [hidden]="shopAddress.valid || (shopAddress.untouched && !userForm.submitted)"
                 class="text-danger">
              A shop address is required.
            </div>
          </div>

          <div class="form-group">
            <label for="bio">Biography</label>
            <textarea class="form-control" id="bio" rows="4"
                      [(ngModel)]="model.shop.bio" name="website">
            </textarea>
          </div>
          <div class="form-group">
            <label for="website">Website</label>
            <input type="text" class="form-control" id="website"
                   [(ngModel)]="model.shop.website" name="phone">
          </div>

        </ng-template>

        <label for="imageUploadTitle">Title image</label>
        <input style="color: white" type="file" (change)="fileEventTitle($event)" name="imageUpload" id="imageUploadTitle"/>
        <br>
        <label for="imageUploadProfile">Profile image</label>
        <input style="color: white" type="file" (change)="fileEventProfile($event)" name="imageUpload" id="imageUploadProfile"/>
        <br>

        <div class="form-group">
          <span class="text-muted"><em><span class="required">*</span> Indicates required field</em></span>
        </div>
      </div>
      <button type="submit" class="btn btn-success submit-button" [disabled]="!userForm.form.valid">Register</button>
    </form>
  </div>
</div>
