@import "../styles/variables";

.browse-btn {
  background-color: gray;
}

.register-switch {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;

  img {
    width: 35px;
    height: 35px;
  }
}

.decide-selector {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}

.img-decide {
  position: relative;
  background-color: white;
  background: hsla(100%,100%,100%,0.8);
  width: 25px;
  height: 25px;
  top: -12.5px;
  left: -12.5px;
  border-radius: 50%;
}

.user-selected, .shop-selected {
  background-color: #bfffff;
  background: hsla(100%,100%,100%,0.3);
}

.register-form-container {
  width: 80%;
  margin: 10px auto;
  padding-bottom: 26px;
}

.required {
  color: red;
}

.blurred-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(5px); /* Safari */
  filter: blur(4px);
  z-index: -1;
  object-fit: cover;
}

label { color: white; }
label span { color: red; }
